body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1a202c;
    font-family: sans-serif;
}

.container {
    width: 400px;
    padding: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #38465e;
}

h1 {
    color: #fff;
    text-align: center;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    color: #fff;
    margin-bottom: 10px;
}

.transaction-each {
    background-color: #4f61a0;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 10px;

}

.transaction-each p {
    margin: 5px 0;
    color: #fff;
}


.btn-transaction {
    display: block;
    width: 95%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.btn-transaction:hover {
    background-color: #45a049;
}

.btn-edit {
    display: block;
    margin-top: 10px;
    width: 95%;
    padding: 10px;
    background-color: #e8aa0d;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.btn-delete {
    display: block;
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    background-color: rgba(195, 22, 22, 0.94);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}


input,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.btn-transaction {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-transaction:hover {
    background-color: #45a049;
}
